<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ws="http://jax-ws.dev.java.net/spring/core"
       xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://jax-ws.dev.java.net/spring/core
        http://jax-ws.dev.java.net/spring/core.xsd
        http://jax-ws.dev.java.net/spring/servlet
        http://jax-ws.dev.java.net/spring/servlet.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
>
 
 	<context:annotation-config />
 	<context:component-scan base-package="trng.soap.service.loan" />
 	
    <wss:binding url="/LoanService">
        <wss:service>
            <ws:service bean="#loanWs"/>
        </wss:service>
    </wss:binding>

    <!-- Web service methods -->
    <bean id="loanWs" class="trng.soap.service.loan.LoanServiceImpl">
    </bean>
</beans>